.box1 { 
  text-align: center;
    position:static;
    border: 5px solid rgb(87, 159, 177);
    padding: 40px;
    margin: 30px;
    width: 1270px;
    height: 160px;
}

body {
  text-align: center;
}

.box2 {
  text-align: center;
    position:static;
    border: 5px solid rgb(89, 57, 104);
    padding: 40px;
    margin: 30px;
    width: 1270px;
    height: 200px;
}

#rate {
  display:none;
}

#thanks {
  display: none;
}

#boo {
  display:none;
}
